.community-highlights-full-width {
    margin-left: -1000px;
    padding-left: 1000px;
    width: 200%;
    background: #eceff8;
}
.community-highlights-block {
    width: 50%;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.discovery-below-outlet.community-highlights {
    margin-bottom: -20px;
}
